body {
  margin: 0;
  font-family: 'Playfair Display', serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  line-height: 2em;
}

* {
  box-sizing: border-box;
}
.css-cv58vo-MuiSlider-thumb {
  background-color: #1e7b75 !important;
  height: 15px !important;
  width: 15px !important;
}
.css-cv58vo-MuiSlider-thumb.Mui-active {
  background-color: #1e7b75 !important;
  height: 15px !important;
  width: 15px !important;
}

.css-1n40zqk-MuiSlider-track {
  background-color: #1e7b75 !important;
  height: 10px !important;
}

.css-14pt78w-MuiSlider-rail {
  background-color: #38b5ad !important;
  height: 10px !important;
}

.indent {
  padding-left: '30px';
}

.indent::before {
  content: '    ';
  white-space: pre;
}

.topic-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.topic-section {
  padding-top: 60px;
  padding-inline: 60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  text-align: justify;
}

.code-block {
  padding-inline: 30px;
  background: #eeeeee;
  border-radius: 15px;
}

.list {
  > ul > li {
    margin-bottom: 15px;
  }
  > ul > li > .MuiTypography-root {
    padding-left: 30px;
    font-weight: 500;
  }
}

a {
  color: #1e7b75;
  text-decoration: none;
}
